body {
	background-image: linear-gradient(
		0deg,
		rgb(194, 161, 255) 23.8%,
		rgb(60, 99, 206) 92%
	);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.form-switch {
	font-size: large;
}

.form-check-input {
	font-size: x-large;
}
